{% extends 'base.html.twig' %}

{% block title %}Hello ProgramController!
	<link rel="icon" href="../../../assets/images/icons8-sigle-de-flash-16.ico"/>
{% endblock %}

{% block nav %}{% endblock %}
{% block body %}
	<div class="example-wrapper">
		<h1>
			Bienvenue !
		</h1>
	</div>
{% endblock %}
